<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

        <h1>Home</h1>
        <h4>Welcome to the home page</h4>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores eius sed in consectetur totam, aut veritatis ipsam et. Perferendis neque modi corrupti quae iusto. Cumque officia exercitationem reiciendis, dolorum ipsa neque saepe velit! Earum debitis cum ipsa placeat numquam expedita rem fuga nemo! Totam enim ad temporibus maxime iusto alias?</p>

		<!-- End your code here  -->



	</main>
</div>